.card{
    width: 250px;
    border-radius: 5px;
    background-color: rgb(191, 138, 69);
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    margin: 15px 5px;
    transition: all ease-in-out .2s;
}

.card:hover{
    transform: scale(1.06);
}

.dataContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card img{
    width: 80px;
    height: 80px;
    padding: 15px;
    border-radius: 50px;
    transition: all ease-in-out .2s;
}

.card img:hover{
    transform: scale(1.2);
}

.username{
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}

.cardContent{
    font-size: 15px;
    font-weight: 600;
}